<!DOCTYPE html>
<html>
  <head>
    <title>Helsinki City traffic accidents</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" type="text/css" href="assets/bootswatch_cosmo.min.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
